<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gkwen·玉鲲</title>
</head>
<body>
<form action="/users/session" method="post" role="form">
Email:    <input type="email" name="email" /><br>
Password: <input type="password" name="password" /><br>
<button>login</button>
</form>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-102013574-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>